<html>
    <head>
        <title> Obligatorio Taller de Linux </title>
    </head>
    <body>
        <h1> Prueba del Obligatorio de Taller de Linux {{ ansible_hostname }} </h1>
        <p> Hoy es {{ ansible_date_time.weekday }} {{ ansible_date_time.day }} de {{ ansible_date_time.month }} </p>
    </body>
</html>
